.flex {
    display: flex;
    align-items:last baseline;
    width: 90vw;
    height: 15vw;
    position: absolute;
    margin-left: 5vw;
    margin-top: 30vh;
    background-image: url('space.jpg');
    display: flex;
    justify-content: space-evenly;
}

.prince-container > img {
    height: 15vw;
    width: auto;
    align-self: center;
    transition: .25s;
}

.prince-container > img:hover {
    transition: 1s;
    opacity: 30%;
} 

.miso-container > img {
    height: 15vw;
    width: auto;
    align-self: center;
    transition: .25s;
}

.miso-container > img:hover {
    transition: 1s;
    opacity: 30%;
} 

.nik-container > img {
    height: 15vw;
    width: auto;
    align-self: center;
    transition: .25s;
}

.nik-container > img:hover {
    transition: 1s;
    opacity: 30%;
} 

#katamari_title {
    height: 8vh;
    width: auto;
}

#flex2 {
    height: 20vh;
    width: 25vw;
    position: absolute;
    margin-left: 38vw;
    margin-top: 60vh;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    
}

#katamariball {
    height: 28vh;
    width: auto;
    align-self: center;
}

.spin {
    position: absolute;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#princetext, #misotext, #niktext {
    padding: 2vw;
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
    color: rgb(92, 119, 173);
    font-size: calc(15px);
    width: calc(19.55vw - 4vw);
    opacity: 0;
    transition: .5s;
    background-color: #eee;
}

.prince-container:hover > #princetext, .miso-container:hover > #misotext, .nik-container:hover > #niktext {
    opacity: 1;
}