#body {
    background-color: white;
    color: rgb(0, 0, 0);
}

#title {
    position: absolute;
    top: calc(50vh - 370px);
    left: calc(50vw - 300px);
    font-size: 50px;
}

#title2 {
    position: absolute;
    top: calc(50vh - 300px);
    left: calc(50vw - 120px);
    font-size: 20px;
}

#wrapper {
    position: absolute;
    width: 600px;
    height: 600px;
    top: calc(50vh - 200px);
    left: calc(50vw - 300px);
    background-color: rgb(211, 223, 181);
}

#armoireremoved{
    position: absolute;
    pointer-events: none;
}

#armoirecontents {
    background-image: url("Armoire_contents.png");
    width: 600px;
    height: 600px;
    margin-top: 1px;
    margin-left: px;
  }
  
  #armoirecontents:hover {
    animation: flashingarmoire 4s;
    animation-iteration-count: infinite;
    opacity: 80%;
  }



  @keyframes flashingarmoire {
    0% {background-image: url("space.png");}
    9% {background-image: url("space.png");}
    10% {background-image: url("sea.png")}
    19% {background-image: url("sea.png");}
    20% {background-image: url("charlesaddams.png")}
    29% {background-image: url("charlesaddams.png");}
    30% {background-image: url("candyland.png")}
    39% {background-image: url("candyland.png");}
    40% {background-image: url("dentist.png")}
    49% {background-image: url("dentist.png");} 
    50% {background-image: url("bed.png")}
    59% {background-image: url("bed.png");}
    60% {background-image: url("hell.png")}
    69% {background-image: url("hell.png");}
    70% {background-image: url("bagcloset.png")}
    79% {background-image: url("bagcloset.png");}
    80% {background-image: url("beach.png")}
    89% {background-image: url("beach.png");} 
    90% {background-image: url("bakery.png")}
    99% {background-image: url("bakery.png");}
  }

  #styledtable {
    position: absolute;
    border-collapse: collapse;
    top: calc(50vh - 300px);
    left: calc(50vw - 300px);
  }


  #styledtable td {
      border: 1px solid #000000;
      min-width: 200px;
      height: 200px;
      text-align: center;
  }

  #styledtable tr:nth-child(even) {
      background-color: transparent;
  }

  #title3 {
    position: absolute;
    top: calc(50vh - 360px);
    left: calc(50vw - 300px);
    font-size: 35px;
  }


  #fish{
    max-width: 180px;
    max-height: 300px;
  }

  #fish:hover {
    opacity: 60%;
  }

  #sourpatch {
      max-width: 200px;
      max-height: 122px;
  }

   #sourpatch:hover {
       opacity: 60%;
   }

  #pillow {
      max-width: 150px;
      max-height: 120px;
  }

   #pillow:hover {
       opacity: 60%;
   }

  #kylie {
      max-width: 200px;
      max-height: 130px;
  }

   #kylie:hover {
       opacity: 60%;
   }

   #mercury {
       max-width: 200px;
       max-height: 130px;
   }

   #mercury:hover {
        opacity: 60%;
   }

   #tooth {
       max-width: 200px;
       max-height: 130px;
   }

    #tooth:hover {
        opacity: 60%;
    }

   #hellfire {
       max-width: 200px;
       max-height: 135px;
   }

   #hellfire:hover {
       opacity: 60%;
   }

   #umbrella {
        max-width: 200px;
        max-height: 135px;
    }

    #umbrella:hover {
        opacity: 60%;
    }
   
   #gate {
       height: 135px;
       width: 170px;
   }

   #gate:hover {
       opacity: 60%;
   }

    #fishfit {
    position: absolute;
    top: calc(50vh - 300px);
    left: calc(50vw - 300px);
}

   #textbox {
    position: absolute;
    width: 610px;
    height: 400px;
    top: calc(50vh - 180px);
    left: calc(50vw + 200px);
    background-color: white;
    text-align: center;
   }

   #fishtext {
    font-size: 45px;
    color:rgb(223, 96, 165);
    opacity: 100%;
   }

   #back {
    position: absolute;
    width: 300px;
    height: 60px;
    top: calc(50vh - 100px);
    left: calc(50vw - 550px);
    background-color: rgb(223, 96, 165);
    text-align: center;
   }

   #goback {
    color: white;
    font-size: 50px;

   }

   #candyfit {
       position: absolute;
       top: calc(50vh - 300px);
       left: calc(50vw - 270px);
   }

   #candytext {
    font-size: 38px;
    color: rgb(83, 112, 175);
   }

   #back2 {
       position: absolute;
       width: 300px;
       height: 60px;
       top: calc(50vh - 100px);
       left: calc(50vw - 550px);
       background-color: rgb(83,112,175);
       text-align: center;
   }

  #back3 {
      position: absolute;
      width: 300px;
      height: 60px;
      top: calc(50vh - 100px);
      left: calc(50vw - 550px);
      background-color: rgb(117,39,219);
      text-align: center;
  }

   #sleepfit {
       position: absolute;
       top: calc(50vh - 300px);
       left: calc(50vw - 270px);
   }

   #sleeptext {
       font-size: 45px;
       color: rgb(117, 39, 219);
       opacity: 100%;
   }

   #back4 {
       position: absolute;
       width: 300px;
       height: 60px;
       top: calc(50vh - 100px);
       left: calc(50vw - 550px);
       background-color: rgb(0, 0, 0);
       text-align: center;
   }

   #robfit {
       position: absolute;
       top: calc(50vh - 300px);
       left: calc(50vw - 260px);
   }

   #robtext {
       font-size: 45px;
       color: rgb(0, 0, 0);
       opacity: 100%;
   }

   #back5 {
       position: absolute;
       width: 300px;
       height: 60px;
       top: calc(50vh - 100px);
       left: calc(50vw - 550px);
       background-color: rgb(31,23,146);
       text-align: center;
   }

   #spacefit {
       position: absolute;
       top: calc(50vh - 300px);
       left: calc(50vw - 270px);
   }

   #spacetext {
       font-size: 45px;
       color: rgb(31, 23, 146);
       opacity: 100%;
   }

   #back6 {
       position: absolute;
       width: 300px;
       height: 60px;
       top: calc(50vh - 100px);
       left: calc(50vw - 550px);
       background-color: rgb(194,25,25);
       text-align: center;
   }

   #dentistfit {
       position: absolute;
       top: calc(50vh - 300px);
       left: calc(50vw - 200px);
   }

   #dentisttext {
       font-size: 45px;
       color: rgb(194, 25, 25);
       opacity: 100%;
   }

    #back7 {
       position: absolute;
       width: 300px;
       height: 60px;
       top: calc(50vh - 100px);
       left: calc(50vw - 550px);
       background-color: rgb(230,122,137);
       text-align: center;
   }

   #hellfit {
       position: absolute;
       top: calc(50vh - 300px);
       left: calc(50vw - 250px);
   }

   #helltext {
       font-size: 45px;
       color: rgb(230, 122, 137);
       opacity: 100%;
   }

   #back8 {
       position: absolute;
       width: 300px;
       height: 60px;
       top: calc(50vh - 100px);
       left: calc(50vw - 550px);
       background-color: rgb(61,143,109);
       text-align: center;
   }

   #beachfit {
       position: absolute;
       top: calc(50vh - 300px);
       left: calc(50vw - 250px);
   }

   #beachtext {
       font-size: 45px;
       color: rgb(61, 143, 109);
       opacity: 100%;
   }

   #back9 {
       position: absolute;
       width: 300px;
       height: 60px;
       top: calc(50vh - 100px);
       left: calc(50vw - 550px);
       background-color: rgb(96,99,107);
       text-align: center;
   }

   #charlesfit {
       position: absolute;
       top: calc(50vh - 300px);
       left: calc(50vw - 200px);
   }

   #charlestext {
       font-size: 45px;
       color: rgb(96, 99, 107);
       opacity: 100%;
   }

#back:hover {
    opacity: 60%;
}

#back2:hover {
    opacity: 60%;
}

#back3:hover {
    opacity: 60%;
}

#back4:hover {
    opacity: 60%;
}

#back5:hover {
    opacity: 60%;
}

#back6:hover {
    opacity: 60%;
}

#back7:hover {
    opacity: 60%;
}

#back8:hover {
    opacity: 60%;
}

#back9:hover {
    opacity: 60%;
}

#back10:hover {
    opacity: 60%;
}

#back10 {
       position: absolute;
       width: 300px;
       height: 60px;
       top: calc(50vh - 100px);
       left: calc(50vw - 750px);
       background-color: rgb(211,223,181);
       text-align: center;
   }

#bottomtext {
    position: absolute;
    top: calc(50vh + 330px);
    left: calc(50vw - 220px);
    font-size: 14px;
    color: blue;

}